/*------ CSS for the Header Section ------*/

.header {
    display: flex;
    justify-content: space-between;
    padding: 0.67vh 5vw;
    background-color: #f5f5f5;
    height: 100vh;
    box-sizing: border-box;
}

.header-container {
    display: flex;
    width: 100%;
}

.header-container-column-1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 20px;
}

.header-container-h1 {
    margin-bottom: 50px;
    font-weight: bold;
    gap: 50px;
}

.header-container-text {
    font-size: 1.2em;
    margin-bottom: 30px;
    gap: 20px;
}

.header-container-buttons {
    display: flex;
    gap: 10px;
}

.header-container-column-2 {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.header-container-column-2_1,
.header-container-column-2_2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.header-container-image {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    padding: 5px;
    box-sizing: border-box;
}

@media (max-width: 1300px) {
    .header {
        height: 90vh;
    }
}

@media (max-width: 1200px) {
    .header {
        height: 80vh;
    }
}

@media (max-width: 1100px) {
    .header {
        height: 70vh;
    }
}

@media (max-width: 1000px) {
    .header {
        height: 65vh;
    }
}

@media (max-width: 900px) {
    .header {
        height: 60vh;
    }
}

@media (max-width: 800px) {
    .header {
        height: 55vh;
    }
}

@media (max-width: 700px) {
    .header {
        height: 50vh;
    }
}


@media (max-width: 920px) {

    .header-container-h1 {
        font-size: 1.5em;
        margin-bottom: 20px;
    }

    .header-container-text {
        font-size: 1em;
        margin-bottom: 15px;
    }

    .header-container-buttons {
        gap: 10px;
    }

    .header-container-column-1,
    .header-container-column-2 {
        width: 50%;
        padding-right: 10px;
    }

    .header-container-image {
        width: 100%;
        height: auto;
        padding: 2px;
    }

}

@media (max-width: 600px) {
    .header {
        height: 100vh;
        flex-direction: column;
        padding: 10px 10px;
    }

    .header-container {
        flex-direction: column;
    }

    .header-container-column-2 {
        width: 100%;
        padding-right: 0;
    }

    .header-container-column-1 {
        width: 100%;
        padding-left: 20px;
    }

    .header-container-column-2 {
        display: flex;
        flex-direction: column;
    }

    .header-container-column-2_1,
    .header-container-column-2_2 {
        padding-top: 10px;
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .header-container-h1 {
        font-size: 1.2em;
        margin-bottom: 15px;
        text-align: center;
    }

    .header-container-text {
        font-size: 0.9em;
        margin-bottom: 10px;
        text-align: center;
    }

    .header-container-buttons {
        flex-direction: row;
        gap: 5px;
        text-align: center;
        margin: 0 auto;
    }

    .header-container-image {
        width: 45%;
        height: auto;
        padding: 2px;
    }
}

@media (max-width: 550px) {
    .header {
        height: 90vh;
    }
}

@media (max-width: 500px) {
    .header {
        height: 85vh;
    }
}

@media (max-width: 450px) {
    .header {
        height: 80vh;
    }
}

@media (max-width: 400px) {
    .header {
        height: 75vh;
    }
}

@media (max-width: 350px) {
    .header {
        height: 70vh;
    }
}
