.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background: lightgrey;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-container {
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    align-items: center;
    width: 100%;
}

.navbar-container-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navbar-container-content-text, .dropdown {
    display: flex;
    align-items: center;
    gap: 30px;
}

.navbar-container-content-text-links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar-logo {
    width: 50px;
    height: 50px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    flex-direction: column;
    padding: 10px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.navbar-container-content-text-links a:hover {
    background-color: #f1f1f1;
    padding: 10px;
    transition: padding 0.3s ease, background-color 1s ease;
    border-radius: 50px;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: flex;
}

.navbar-container-content-text-buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}

body.modal-open {
    overflow: hidden;
}

.hidden {
    display: none;
}

.burger-menu {
    display: none;
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
    position: fixed;
    top: 5px;
    right: 5px;
    z-index: 1001;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    max-width: 350px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.close-button {
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
}

.modal-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 20px 0;
}

.modal-links a {
    margin: 10px 0;
}

.modal-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-buttons button {
    margin: 5px 0;
    width: 200px;
}

.modal-middle-section {
    border-top: 1px solid #000000;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

@media (max-width: 700px) {
    .navbar-container {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 610px) {
    .navbar {
        background: none;
    }

    .burger-menu {
        display: block;
    }

    .navbar-container-content-text-links {
        display: none;
    }
}
