.contact {
    padding: 20px 50px;
    background-color: #f9f9f9;
}

.contact-columns {
    display: flex;
    justify-content: space-between;
}

.contact-left {
    margin-top: 30px;
    margin-left: 100px;
    flex: 1;
    padding: 20px;
}

.contact-left-h1 {
    margin-bottom: 15px;
}

.contact-left-text {
    margin-bottom: 20px;
}

.contact-right {
    flex: 1;
    margin-left: 200px;
    padding: 20px;
}

.contact-right-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.contact-right-item-row1 {
    display: flex;
    align-items: center;
}

.contact-right-item-row-svg {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.contact-right-item-row-h5 {
    margin: 0;
}

.contact-right-item-row-text {
    margin-left: 55px;
    margin-top: 5px;
}

.contact-right-item-row2 {
    flex: 1;
}

.contact-img {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.contact-img-photo {
    max-width: 100%;
    height: auto;
    border: 5px solid #ccc;
    border-radius: 50px;
    width: 80%;
}

@media (max-width: 1200px) {
    .contact {
        padding: 20px 20px;
    }

    .contact-left {
        margin-left: 20px;
    }

    .contact-right {
        margin-left: 20px;
    }
}

@media (max-width: 800px) {
    .contact-right-item-row-svg {
        width: 25px;
        height: 25px;
    }

    .contact-right-item-row-text {
        margin-left: 35px;
    }
}

@media (max-width: 600px) {
    .contact-right-item-row-svg {
        width: 20px;
        height: 20px;
    }

    .contact-right-item-row-text {
        margin-left: 30px;
    }
}

@media (max-width: 480px) {
    .contact-left-h1 {
        text-align: center;
    }

    .contact-left-text {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        text-align: center;
    }

    .contact-columns {
        flex-direction: column;
        align-items: center;
    }

    .contact-left,
    .contact-right {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .contact-right {
        padding: 40px;
    }
}
